* {
  margin: 0px;
  padding: 0;
}

#board {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: 1px solid rgb(0,0,0);
}

.row {
  display: flex;
}

.tile {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.row :first-child {
  border-left: none;
}

#board :first-child .tile {
  border-top: none;
}

.apple {
  background: red;
}

.snake {
  background: green;
}